In [ ]:
#Q! create tuple and reverse it
x = (2,3,1,4,5,6)
print("tuple:",x)
print("reversed tuple:",x[::-1])

tuple: (2, 3, 1, 4, 5, 6)
reversed tuple: (6, 5, 4, 1, 3, 2)

In [16]:
#q2 Python program to interchange first and last elements in a list
list = [1,2,3,5,6]
n=len(list)
def exchange(y):
  y[0],y[n-1]=y[n-1],y[0]
  return y

z = exchange(list)
print("list with interchanged first and last elements:",z)

list with interchanged first and last elements: [6, 2, 3, 5, 1]

In [17]:
#Q3 Cloning or Copying a list into anotherlist
lista = [5,6,5,8,4]
cloned_list = lista.copy()
print(cloned_list)

[5, 6, 5, 8, 4]